repos:
- repo: git://github.com/pre-commit/pre-commit-hooks
  sha: v1.1.1
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-byte-order-marker
    - id: check-case-conflict
    - id: check-added-large-files
      args:
        - '--maxkb=2000'
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-json
    - id: check-yaml
    - id: debug-statements
    - id: check-docstring-first
    - id: double-quote-string-fixer
    - id: fix-encoding-pragma
      args:
        - '--remove'
    - id: flake8
      args:
        - '--max-line-length=119'
        - '--ignore=E722'
